           
            <footer id="main-footer" class="color-bg light-typo">
		
			<div class="container text-center">
				<ul class="social-links">
					<li><a href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
					<li><a target="_blank" href="https://www.facebook.com/pages/BitCot-Technologies/797769963630143"><i class="fa fa-facebook fa-fw"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus fa-fw"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin fa-fw"></i></a></li>
				</ul>
				<p>  &copy; ^year^ ^site_name^</p>
			
			</div>
			
		</footer>
       
        <!-- Custom JS -->
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/flexslider/2.3.0/jquery.flexslider.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/FitText.js/1.1/jquery.fittext.min.js'></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.4/jquery.easypiechart.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.33/jquery.colorbox-min.js"></script>
		<script src="/public/bitcot/js/jquery.sequence-min.js"></script>
		<script src="/public/bitcot/js/jquery.countTo.js"></script>
		<script src="/public/bitcot/js/contact.js"></script>
		<script src="/public/bitcot/js/qubico.js"></script>
        <!-- Custom JS -->
    </body>
</html>
